

.home__body {
    padding-top: 10px;
}


.home__profile {
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 5px;
}

.home__profile-content {
    margin-top: 10px;
    width: 100%;
    width: 500px;
    padding-left: 15px;
}

.home__profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.home__prfile-start {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    background-color: transparent;
}

.home__profile-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.emoge-list {
    display: flex;
    align-items: center;
}

.emoge-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .4s linear;
}

.emoge-list__item + .emoge-list__item {
    margin-left: 0px;
}

.emoge-list__item:hover{
    background-color: rgba(130, 219, 247, 0.3);
}


.home__profile-textSubmit {
    width: 100px;
    height: 42px;
    padding: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
    background: #1DA1F2;
    opacity: 0.4;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}

.btn-active {
    opacity: 1;
}



@media (max-width: 1230px) { 
    .header {
        width: 600px;
    }

    .home__profile-content {
        margin-top: 10px;
        width: 747px;
        padding-left: 15px;
    }
}

@media (max-width: 1060px) { 
    .home {
        border-right: 1px solid #C4C4C4;
        width: 100%;
        max-width: 600px;
    }

    .header {
        width: 100%;
        max-width: 600px;
    }

    .home__profile-content {
        margin-top: 10px;
        width: 100%;
        max-width: 600px;
        padding-left: 15px;

    }

    .header__content {
        width: 100%;
        max-width:600px;
    }
}

@media only screen and (max-width: 532px) {
    .emoge-list__item:last-child {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .home__profile {
        display: none;
    }

    .home {
        border-right: 0;
        width: 100%;
        max-width: 600px;
    }
}



