.sidebar {
    position: fixed ;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url("../../assets/sidebar-bg.png");
    background-repeat: no-repeat;
    background-position:17px 25px;
    border-right: 1px solid #C4C4C4;
}

.sidebar__item {
    width: 100%;
    max-width: max-content;
    position: relative;
    padding: 12px 14px;
    padding-right: 30px;
    border-radius: 50px;
    transition: all .4s linear;
}

.sidebar__item:hover {
    transition: all .3s linear;
    background-color: rgba(209, 207, 207, 0.7);
}

.sidebar__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #000000;
    transition: all 0.4s ease;
}

.sidebar__link-img{
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 25px;
    fill: rgba(0, 0, 0, 0.6);
}

.active {
    fill: black;
}

.sitebar__btn {
    width: 100%;
    max-width: 210px;
    height: 50px;
    transition: all .4s linear;
    cursor: pointer;
}

.sitebar__btn:hover {
    background-color: #0e90e0;
}

.sidebar__account {
    position: relative;
    display: block;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    margin-top: 50px;
    border-radius: 50px;
    transition: all .4s linear;
    cursor: pointer;
}

.sidebar__account:hover{
    background-color: rgba(209, 207, 207, 0.8);
}

.active:hover {
    background-color: transparent;
}

.account__content {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.account__title {
    font-weight: 600;
}

.account__subtitle {
    font-weight: 400;
    opacity: 0.6;
}

.account__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .4s linear;
    background-color: transparent;
    cursor: pointer;
}

.account__btn:hover  {
    background-color: rgba(130, 219, 247, 0.3);
}


@media (max-width: 1230px) {
    .sidebar {
        width: 100%;
        max-width: 76px;
        border-right: 1px solid #C4C4C4;
    }

    .sidebar__item {
        width: 76px;
        height: max-content;
        max-width: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 14px;
        border-radius: 50px;
        transition: all .4s linear;
    }
     

    .sidebar__link-span,
    .account__content,
    .account__btn {
        display: none;
    }
    
    .sidebar__link-img {
        width: 26px;
        height: 26px;
        margin: 0;
    }
    
    .sitebar__btn {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
    }
    .sitebar__btn-text {
        display: none;
    }

    .sidebar__account {
        display: block;
        max-width: 50px;
        margin: 0 auto;
        padding:0;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
      display: none;
    }
    
}